*{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#home{
    max-height: 100vh;
    width: 100%;
    text-align: center;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 30px;
}

.navbar-light .navbar-brand {
    color: #E26D5A;
}

#homeScreen{
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    height: 80%;
}

.elephantLogo{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#homeTitle{
    font-size: 40px;
    line-height: 1.2;
    color: #2a2929;
    margin-bottom:5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.appTitle{
    color: #E26D5A;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 0;
    text-align: left;
    padding-left: 4%;
}

.subTitle{
    color: #585757;
}

Form{
    margin-top: 20px;
    color: #585757;
}

.form-control{
    height: calc(2em + .75rem + 2px);
}

.homeBtn{
    background-color: #E26D5A;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    border-color: #E26D5A;
}

.homeBtn:hover{
    background-color: #E26D5A;
    color: whitesmoke;
    font-weight: bold;
}

.btnContainer{
    text-align: center;
}
.optionsSection{
    margin-top: 10px;
}

.pageDirection{
    color: #E26D5A;
}

.register{
    text-align: left;
    color: whitesmoke;
}

.resetPassword{
    text-align: right;
    color: whitesmoke;
}

/** USERPAGE **/

.userpageNav{
    text-align: center;
}

.shortUserPageContainer{
    padding-left: 4%;
    padding-right: 4%;
}

#urlInput{
    margin: 20px 0;
    padding: 20px 10px;
    background-color: #baceed;
    text-align: center;
}

.urlCard{
    margin-top: 15px;
}


@media only screen and (min-device-width: 426px){
    #homeScreen{
        text-align: center;
    }
    Form{
        text-align: left;
        width: 30%;
        margin: 0 auto;
    }
    .optionsSection{
        width: 30%;
        margin: 0 auto;
    }
}