*{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
#home{
    max-height: 100vh;
    width: 100%;
    text-align: center;
}

.navbar-brand{
    font-weight: bolder;
    font-size: 30px;
}

.navbar-light .navbar-brand {
    color: #E26D5A;
}

#homeScreen{
    text-align: left;
    padding-left: 4%;
    padding-right: 4%;
    height: 80%;
}

.elephantLogo{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.sadElephantLogo{
    width: 60%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#homeTitle{
    font-size: 40px;
    line-height: 1.2;
    color: #2a2929;
    margin-bottom:5px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
.appTitle{
    color: #e26d5a;
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 0;
    text-align: left;
    padding-left: 4%;
}

.subTitle{
    color: #585757;
}

Form{
    margin-top: 20px;
    color: #585757;
}

.form-control{
    height: calc(2em + .75rem + 2px);
}

.homeBtn, .goBtn{
    background-color: #E26D5A;
    color: whitesmoke;
    font-weight: bold;
    width: 100%;
    border-color: #E26D5A;
}

.homeBtn:hover:active:focus, .goBtn:hover:active:focus, .btn-light:hover:active:focus{
    background-color: #E26D5A;
    color: whitesmoke;
    font-weight: bold;
}

.btnContainer{
    text-align: center;
}
.optionsSection{
    margin-top: 10px;
}

.pageDirection{
    color: #E26D5A;
}

.col{
    padding: 0;
}

.register{
    text-align: left;
    color: whitesmoke;
}

.resetPassword{
    text-align: right;
    color: whitesmoke;
}

/** USERPAGE **/

.userpageNav{
    text-align: center;
}

.shortUserPageContainer{
    padding-left: 4%;
    padding-right: 4%;
}

#urlInput{
    margin: 20px 0;
    padding: 20px 10px;
    background-color: #baceed;
    text-align: center;
}

.urlCard{
    margin-top: 15px;
    background-color:  #baceed;
}

.card{
    border: none;
    text-align: left;
}

.list-group-item{
    border: none;
    padding: 0.4rem 0.5rem;
    font-weight: normal;
}

.originalUrlItem{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tinylinkItem{
    font-weight: bold;
    color: #5e79d2;
}

.deleteBtn{
    border: none;
    background-color: #ffffff;
}

svg{
   pointer-events: none;
}

.pagination{
    margin: 0 auto;
    margin-top: 10px;
}

.page-link{
    color: #5e79d2;
}

#page404{
    text-align: center;
}

.notFoundTitle{
    text-align: center;
}

@media only screen and (min-device-width: 426px){
    #homeScreen, #userpageContainer{
        text-align: center;
    }
    .elephantLogo{
        width: 40%;
        margin: 0 auto;
    }
    Form{
        text-align: left;
    }
    .optionsSection, .subTitle, .homeBtn, Form, .urlCard, .shortUserPageContainer {
        width: 80%;
        margin: 0 auto;
    }

    .goBtn{
        width: 100%;
    }

    .firstGroupItem{
        width: 40%;
    }

    .originalUrlItem{
        width: 30%;
    }

    .countGroupItem{
        width: 20%;
    }

    .deleteGroupItem{
        width: 10%;
    }
}

@media only screen and (min-device-width: 769px){

    .optionsSection, .subTitle, .homeBtn, Form, .urlCard, .userpageNav, #page404 {
        width: 50%;
        margin: 0 auto;
    }

    .countGroupItem,  .deleteGroupItem{
        text-align: right;
    }

    .sadElephantLogo{
        width: 20%;
        height: auto;
    }
}

@media only screen and (min-device-width: 1875px){

}