#userpageContainer{
    text-align: center;
}

#userpageTitle{
    font-size: 40px;
    font-weight: bolder;
    text-align: left;
    padding: 0 10px;
}

#urlInput{
    margin: 40px 0;
    padding: 40px 10px;
    background-color: #5af5b9;
    text-align: center;
}

.accordion{
    margin: 0 10px;
}

.card-header{
    padding: 0;
}

.btn-link{
    color: #3e9071;
}

.btn-link:hover{
    color: #3e9071;
}